<h1 style="color: white; text-align: center">Bonjour <%=current_user.prenom %> <%=current_user.nom%></h1>
<h1 style="color: white; text-align: center">Ci-dessous l'état des congés de vos équipes</h1>
<center><%= link_to "Demande de congés de mon équipe", myteam_requests_path, class:"btn btn-success"%></center>

     <%= form_tag(hrmanagers_path, :method => "get") do %>
    <div class="d-flex" style="margin-top:20px;box-shadow: 2px 2px 5px lightgray;">
    <div style="width:100%"><%= search_field_tag :search, params[:search], placeholder: "Chercher par nom ou prénom", class: "form-control", style: "height:60px;" %></div>
    <div><%= button_tag "Rechercher", :style => "background-color: #FF5A5F", :class => 'btn btn-primary glyphicon glyphicon-search', style: "background-color:#05A9F4;font-weight:bold;width:200px;height:60px;",:name => nil%></div>

    <%end%>
  </div>

<table class="rwd-table">
  <tr>
    <th>Matricule</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Emploi</th>
    <th>Date d'embauche</th>
    <th>Solde congés payés</th>
    <th>Nombre de congés sans soldes</th>
    <th>Nombre de jours lié à un accident</th>
  </tr>
  <% @users.each do |user| %>
    <tr data-link="<%= myteammember_path(user.id) %>">
      <td data-th="Matricule"><%= user.matricule%></td>
      <td data-th="Nom"><%= user.nom %></td>
      <td data-th="Prénom"><%= user.prenom %></td>
      <td data-th="Emploi"><%= user.emploi %></td>
      <td data-th="Date d'embauche"><%= user.datedembauche%></td>
      <td data-th="Solde congés payés"><%= user.paiddaysoff%></td>
      <td data-th="Nombre de congés sans soldes"><%= user.unpaiddaysoff%></td>
      <td data-th="Nombre de jours lié à un accident"><%= user.injurydaysoff%></td>
    </tr>
  <%end%>

</table>
